################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/.vs/EmailManage/FileContentIndex
/obj
/Properties
/.vs/EmailManage/CopilotIndices/17.14.1368.60722
/.vs
