@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Access Denied";
}
<div style="padding:40px;text-align:center;">
    <h2>You do not have permission to access this site.</h2>
    <p>Please contact the system administrator.</p>
</div>