@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Access Denied";
}
<div style="padding:40px;text-align:center;">
    <h2>You do not have permission to access this site.</h2>
    <p>This page is provided for the Finance AR team for e-tax purposes. Please request approval from your manager if access is needed, and forward the approval to the IT team via IT Helpdesk to setup.</p>
</div>